.vantagens__site__container{
    background-color: $preto;
    .vantagens{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        padding: 35px 0;

        .vantagem{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            grid-template-areas: "icone" "texto" "texto";
            width: 20%;
            gap: 30px;
            align-content: start;

            .vantagem__icon__container{
                grid-area: icone;
                height: 50px;
                width: 52px;
                margin: 0 auto;
                .vantagem__icon{
                    width:100%;
                    height: 100%;
                }
            }
            .vantagem__text{
                @include padrao__vantagem;
                grid-area: texto;
                text-align: center;
                justify-self: start;
            }
        }
    }
}


