.outlet{
    animation-name: outlet;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes outlet{
    from{
        color: $branco;
    }
    to{
        color: $vermelho;
    }
}